<div class="container flex-col jc-center text-center gap-s">
    @if (userType() === 'alumno') {
        <h1>Perfil de {{ alumnoUser()?.nombre }}</h1>
        <img [src]="imageSrc()" class="profile-picture" alt="Foto de perfil">
        <div class="table-scroll-container">
            <table class="rounded-table profile-table">
                <tr>
                    <td>Nombre completo</td>
                    <td>{{ alumnoUser()?.nombre }} {{ alumnoUser()?.apellidos }}</td>
                </tr>
                <tr>
                    <td>Correo electrónico</td>
                    <td>{{ alumnoUser()?.email }}</td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>{{ alumnoUser()?.telefono }}</td>
                </tr>
                <tr>
                    <td>Ciclos formativos</td>
                    <td>{{ alumnoUser()?.ciclos_formativos?.join(', ') }}</td>
                </tr>
                <tr>
                    <td>Tecnologías</td>
                    <td>{{ alumnoUser()?.tecnologias?.join(', ') }}</td>
                </tr>
                <tr>
                    <td>Idiomas</td>
                    <td>{{ alumnoUser()?.idiomas?.join(', ') }}</td>
                </tr>
                <tr>
                    <td>Currículum Vitae</td>
                    <td>
                        @if (cvPath()) {
                            <a [href]="cvPath()" target="_blank">Ver CV</a>
                        } @else {
                            <p class="grey-info">Sin CV</p>
                        }
                    </td>
                </tr>
            </table>
        </div>
    } @else {
        <h1>Perfil de {{ empresaUser()?.nombre }}</h1>
        <img [src]="imageSrc()" class="profile-picture" alt="Foto de perfil">
        <div class="table-scroll-container">
            <table class="rounded-table profile-table">
                <tr>
                    <td>Nombre</td>
                    <td>{{ empresaUser()?.nombre }}</td>
                </tr>
                <tr>
                    <td>Razón social</td>
                    <td>{{ empresaUser()?.razon_social }}</td>
                </tr>
                <tr>
                    <td>Descripción</td>
                    <td>{{ empresaUser()?.descripcion }}</td>
                </tr>
                <tr>
                    <td>Correo electrónico</td>
                    <td>{{ empresaUser()?.email }}</td>
                </tr>
                <tr>
                    <td>Teléfono de contacto</td>
                    <td>{{ empresaUser()?.telefono }}</td>
                </tr>
                <tr>
                    <td>Dirección fiscal</td>
                    <td>{{ empresaUser()?.direccion_fiscal }}</td>
                </tr>
                <tr>
                    <td>Persona de contacto</td>
                    <td>{{ empresaUser()?.persona_contacto }}</td>
                </tr>
            </table>
        </div>
    }
</div>
