.profile-table {
    width: 100%;
    min-width: 30rem;
    table-layout: fixed;
}

.profile-table th, .profile-table td {
    padding: .5rem 1rem;
}

.profile-table th:first-child, .profile-table td:first-child {
    width: 50%;
}

.profile-picture {
    border: 1px solid var(--color-text);
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
    border-radius: 100%;
}
