.li-margin {
    margin-left: 1rem;
}

.candidatos-buttons {
    border: 1px solid var(--color-text);
    border-radius: var(--small-border-radius);
    padding: 0 .5rem;
    color: var(--color-text);
    background-color: var(--color-card);
    transition: all .2s ease;
}

.candidatos-buttons.deny:hover {
    cursor: pointer;
    color: var(--color-text-opposite);
    border-color: var(--error-color);
    background-color: var(--error-color);
}

.candidatos-buttons.mark-read:hover {
    cursor: pointer;
    color: var(--color-text-opposite);
    border-color: var(--info-color);
    background-color: var(--info-color);
}

.p-estado, .p-estado-red {
    background-color: var(--color-bg);
    border-radius: var(--small-border-radius);
    font-size: var(--small-font-size);
    padding: 0 .5rem;
}

.p-estado {
    color: var(--info-color);
}

.p-estado-red {
    color: var(--error-color);
}

.remove-oferta svg {
    color: var(--error-color);
    width: 1.5rem;
    height: 1.5rem;
    transition: all .2s ease;
}

.remove-oferta svg:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.cursor-pointer {
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    pointer-events: all;
}

.delete-popup {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.delete-btn, .cancel-btn {
    flex: 1;
    background-color: var(--color-bg-form);
    border: var(--border-button);
    border-radius: var(--small-border-radius);
    padding: .25rem;
    font-size: var(--small-font-size);
    transition: all .2s ease;
}

.delete-btn {
    color: var(--error-color);
    border-color: var(--error-color);
}

.cancel-btn {
    color: var(--color-text);
}

.delete-btn:hover {
    cursor: pointer;
    background-color: var(--error-color);
    color: white;
}

.cancel-btn:hover {
    cursor: pointer;
    background-color: var(--color-border);
}
