@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* Paleta de colores */
    --color-primary: #ff8d3b;
    --color-primary-dark: #ea580c;
    --color-text: #1f2937;
    --color-text-opposite: #f3f4f6;
    --color-muted: #6b7280;
    --color-border: #c2c2c2;
    --color-bg: #eff3f6;
    --color-bg-form: #fff;
    --color-bg-theme-toggle: #4b5cbb;
    --color-text-form: #1f2937;
    --color-link: #56adff;
    --color-link-hover: #c072ff;
    --color-bg-table-cell: #efefef;
    --color-header: #ee9454;
    --color-header-link: #fff;
    --color-header-link-hover: #445aa3;
    
    /* Tamaño de fuentes y bordes */
    --font-size: 100%; /* 16px */
    --small-font-size: 80%;
    --border-radius: .75rem;
    --small-border-radius: .4rem;
    --border-button: 1px solid var(--color-border);

    /* Éxito, error e información */
    --success-color: #2bb866;
    --error-color: #eb1717;
    --info-color: #4692e9;
}

/* Modo oscuro */
.theme-dark {
    --color-bg: #333;
    --color-primary: #fb923c;
    --color-primary-dark: #f97316;
    --color-text: #f3f4f6;
    --color-text-opposite: #1f2937;
    --color-muted: #9ca3af;
    --color-border: #a1a1a1;
    --color-bg-form: #333;
    --color-text-form: #f3f4f6;
    --success-color: #7dd8a3;
    --error-color: #df7d7d;
    --info-color: #8ec1fc;
    --color-bg-theme-toggle: #f3e38a;
    --color-link: #8dd5ff;
    --color-link-hover: #ea97ff;
    --color-bg-table-cell: #3f3f3f;
    --color-header: #eb8f4e;
    --color-header-link: #eee;
    --color-header-link-hover: #445aa3;
}

/* Utils */
.flex { display: flex; }

.flex-col {
    display: flex;
    flex-direction: column;
}

.jc-center { justify-content: center; }
.ai-center { align-items: center; }
.text-center { text-align: center; }

.gap-xs { gap: .5rem; }
.gap-s { gap: .75rem; }
.gap-m { gap: 1rem; }
.gap-l { gap: 1.5rem; }
.gap-xl { gap: 2rem; }

.mb-1 { margin-bottom: .5rem; }
.mb-2 { margin-bottom: .75rem; }
.mb-3 { margin-bottom: 1rem; }

.rounded-border { border-radius: var(--border-radius); }
.small-rounded-border { border-radius: var(--small-border-radius); }


/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Host Grotesk', 'Arial', 'Segoe UI', sans-serif;
}

body {
    line-height: 1.6;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color .3s ease, color .3s ease; /* cambio de modo claro/oscuro */
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color .2s ease;
}

a:hover {
    color: var(--color-link-hover);
}

table {
    border-collapse: separate;
    border-radius: var(--border-radius);
}

th, td {
    border: var(--border-button);
    background-color: var(--color-bg-table-cell);
}

.rounded-table tr:first-of-type td:first-of-type { border-top-left-radius: var(--border-radius); }
.rounded-table tr:first-of-type td:last-of-type { border-top-right-radius: var(--border-radius); }
.rounded-table tr:last-of-type td:first-of-type { border-bottom-left-radius: var(--border-radius); }
.rounded-table tr:last-of-type td:last-of-type { border-bottom-right-radius: var(--border-radius); }


/* Contenedor principal y estilos generales */
.container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
}


/* Formularios */
.form-box {
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    transition: background-color .3s ease;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tabs button {
    flex: 1;
    padding: .75rem;
    background-color: var(--color-muted);
    color: white;
    border: none;
    font-size: var(--font-size);
    transition: all .2s ease;
}

.tabs button:first-child {
    border-radius: var(--small-border-radius) 0 0 var(--small-border-radius);
}

.tabs button:last-child {
    border-radius: 0 var(--small-border-radius) var(--small-border-radius) 0;
}

.tabs button.active {
    background-color: var(--color-primary);
}

.tabs button:hover {
    cursor: pointer;
    opacity: .8;
}

input[type="text"], input[type="password"] {
    color: var(--color-text-form);
    background-color: var(--color-bg-form);
}

input[type="checkbox"] {
    width: .75rem;
    height: .75rem;
}

.form-field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-field input {
    padding: 0.5rem 0.75rem;
    border: var(--border-button);
    border-radius: var(--small-border-radius);
    color: var(--color-text-form);
    font-size: var(--small-font-size);
    transition: all .2s ease;
}

.form-field input:focus, .table-input-button input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.input-datalist input {
    flex: 1;
    background-color: var(--color-bg);
}

.error {
    color: var(--error-color);
    font-size: var(--small-font-size);
}

.submit-btn {
    width: 100%;
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    border-radius: var(--small-border-radius);
    background-color: var(--color-primary);
    color: white;
    font-size: var(--font-size);
    transition: opacity .2s ease;
}

.submit-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.table-input {
    width: 100%;
    border: var(--border-button);
    border-radius: var(--small-border-radius);
    font-size: var(--small-font-size);
    padding: .25rem .5rem;
    transition: border-color .3s ease;
}

.table-input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.table-input-button input {
    flex: 1;
    color: var(--color-text-form);
    background-color: var(--color-bg-form);
    border: var(--border-button);
    border-radius: var(--small-border-radius);
    font-size: var(--small-font-size);
    padding: .25rem .5rem;
    transition: border-color .3s ease;
}

.input-add-button {
    border: none;
    border-radius: var(--small-border-radius);
    background-color: var(--color-primary);
    color: white;
    padding: 0 .5rem;
    transition: opacity .2s ease;
}

.input-add-button:hover, .remove-button:hover {
    cursor: pointer;
    opacity: .8;
}

.remove-button {
    color: var(--color-link);
}

.small-text {
    font-size: var(--small-font-size);
}


/* Responsive y modo oscuro */
@media (min-width: 768px) {
    :root {
        font-size: 112.5%; /* ~18px */
    }

    .container {
        max-width: 720px;
        padding: 2rem;
    }
}

@media (min-width: 1024px) {
    :root {
        font-size: 125%; /* ~20px */
    }

    .container {
        max-width: 960px;
        padding: 3rem;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1140px;
    }
}
